:root {
  /* colors */
  --main-background-color: #2c3333;
  --dark-text-color: #a6d1e6;
  --purple-tone-color: #a390a9;
  --red-bright: #ff9999;
  --pig-color: #ff8585;
  --red-dark: #4c0000;
  --active-player: #e0c097;

  /* fonts */
  --main-font-type: "Gantari";
  --Player-names-font-fredericka-the-great: "Fredericka the Great";
  --font-bangers: "Bangers";
  /* Dirt-like */
  --font-header: "Rubik Moonrocks";
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: var(--main-background-color);
  text-align: center;
}

body {
  color: var(--dark-text-color);
}
input {
  width: 40vw;
}

/* Media Queryes */
/* Mobile view */
@media only screen and (max-width: 750px) {
  h1 {
    font-size: 1.4rem;
  }
  input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: var(--Player-names-font-fredericka-the-great);
    font-size: 1rem;
    color: var(--active-player);
    text-align: center;
  }
  .winner h3 {
    background-color: var(--pig-color);
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 2vh;
    margin-bottom: 8vh;
    margin-left: 20%;
    margin-right: 20%;
    color: #eae3d2;
    font-size: 1rem;
    border: 5px solid var(--red-bright);
    border-radius: 50px;
    -webkit-box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
      20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
      13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
      -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
      -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
      20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
      13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
      -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
      -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}

/* Desktop view */
@media only screen and (min-width: 751px) {
  h1 {
    font-size: 3rem;
  }
  input {
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    font-family: var(--Player-names-font-fredericka-the-great);
    color: var(--active-player);
    font-size: 2rem;
    text-align: center;
  }
  .winner h3 {
    background-color: var(--pig-color);
    padding-top: 2vh;
    padding-bottom: 2vh;
    margin-top: 4vh;
    margin-bottom: 6vh;
    margin-left: 20%;
    margin-right: 20%;
    color: #eae3d2;
    font-size: 2.6rem;
    border: 5px solid var(--red-bright);
    border-radius: 50px;
    -webkit-box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
      20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
      13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
      -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
      -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
    box-shadow: 4px -4px 15px 0px #ff1f1f, 12px -11px 7px 0px #ff9376,
      20px -5px 7px 0px #ffe264, 20px 6px 7px 0px #f6ff33,
      13px 12px 17px 0px #ff9527, 2px 17px 17px 0px #ff0000,
      -9px 21px 18px 0px #fff212, -9px 6px 11px 0px #ff0808,
      -11px -9px 11px 0px #fffa17, -11px -9px 11px 0px #fffa17,
      5px 5px 15px 5px rgba(0, 0, 0, 0);
  }
}
/* End Media Queryes */

h1 {
}

.dice-image-container {
  margin: 3vh auto;
}

.dice-image {
  width: 10vw;
  margin-top: 5vh;
  margin-bottom: 2vh;
}

#newGame-button {
  margin: 3% auto;
}

.btn {
  font-size: 1.5rem;
}

.player-name-row {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  margin: 3vh auto;
}

.set-names-button {
  font-size: 0.8rem;
  margin-bottom: 20px;
}

.scores-row {
  margin-bottom: 2vh;
}

.player-highlighted {
  background-color: var(--pig-color);
  color: var(--main-background-color);
}

.hints {
  margin-top: 5vh;
  font-size: 1rem;
}

.footer {
  min-height: 100%;
  background-color: var(--dark-text-color);
  color: var(--main-background-color);
  font-size: 1rem;
}

.footer p,
a {
  color: var(--main-background-color);
  background-color: var(--dark-text-color);
}

.footer-container {
  position: fixed;
  bottom: 0;
}

.hidden {
  visibility: hidden;
}

.disapper {
  display: none;
}
